@import "normalize.css";

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #9CCDFF;
    font-family: 'Fira Sans', sans-serif;
}
.primary-header h1{
    background: #2D3945;
    margin: 0;
    padding: 25px 0;
    color: #9CCDFF;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
}

.secondary-header {
    text-align: center;
}

.secondary-header h3 {
    color: #2D3945;
    font-weight: 700;
    margin-bottom: 30px;
    padding: 0 15px;
}

.double{
    border: 2px solid #333F4a;
    width: 95%;
}

.single,
.single1 {
    border: 1px solid #333F4a;
    width: 95%;
}


/*
=================================
Form Styles
=================================
*/

fieldset {
    border: none;
}
.container-a {
    margin: 1rem auto;
    width: 90%;
    max-width: 1000px;
}

.container-b {
    margin: 1rem auto;
    width: 100%;
    max-width: 1000px;
}

select, option, input, label, button {
    padding: 0.2rem 0;
    font-size: 1.2rem;
}

input[type="text"],
input[type="phone"],
input[type="email"],
select,
textarea {
    border: none;
    background-color: #e8eeef;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

input[type="text"]:focus,
input[type="phone"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border: 1px solid #2D3945;
}

input[type="text"]:hover,
input[type="phone"]:hover,
input[type="email"]:hover,
select:hover,
textarea:hover {
    background: rgb(165, 198, 231, 0.5);
}

#zip {
    width: 30%;
}

.primary,
.zip{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.primary input,
.primary select {
    flex-basis: 100%;
}

.secondary,
.tertiary {
    padding-top: 5px;
    padding-bottom: 5px;
}

.secondary label,
.tertiary label {
    padding-left: 5px;
}

.area_label {
    display: flex;
    flex-direction: column;
}

::placeholder {
    text-align: right;
    font-size: 1rem;
    font-style: italic;
    padding-right: 10px;
}

legend {
    font-size: 1.4em;
    margin-bottom: 5px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 10px;
  }

.area_label label,
.secondary_label {
    padding-bottom: 15px;
}

.area_label label {
    margin-top: 10px;
    margin-bottom: 10px;
}
.tertiary_radio {
    padding: 20px 0;
}

textarea {
    border-radius: 10px 10px 10px 10px;
    height: 150px;
    margin-bottom: 20px;
}

textarea::placeholder {
    text-align: center;
}

button {
    padding: 19px 39px 18px 39px;
    color: #9CCDFF;
    background-color: #2D3945;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #2D3945;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 #2D3945 inset;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: slategray;
    padding-bottom: 20px ;
    font-style: italic;
}

/*
=======================
Media Queries
=======================
*/

@media (min-width: 768px){

    .primary {
      flex-direction: row;  
    }
    
    .primary label {
        padding-top: 10px;
        flex-basis: 25%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .primary select,
    .primary option,
    .primary input {
        flex-basis: 75%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .zip {
        display: flex;
        flex-direction: row;
    }

    .zip label {
        padding-top: 10px;
        flex-basis: 25%;
    }

    .zip input {
        flex-basis: 20%;
    }

    .double,
    .single{
        width: 50%;
    }
    
}






